/* Fonts */
@font-face { font-family: Digital-7; src: url('../fonts/digital-7.ttf'); } 

/* ------ Header Bar -------- */
.banner {
    color: darkblue;
    text-align: center;
}

h1 {
    font-size: 2.0em;
}

h5 {
    font-size: 1.0em;
}

.container {
    background-color: #813e24;
}

.jumbotron-welcome {
    background-image: url("../images/train-background.jpg");
    border: 2px solid #000000;
    background-size: 50%;
    background-position: center;
    color: black;
    height: 200px;
    overflow: hidden;
}

/* ---------Table Formatting ----------*/
tr {
    background-color: black;
    color: white;
}

#train-table th,
td {
    font-family: Digital-7, sans-serif; 
    display: inline-block;
    width: 17%;
    text-align: center;
    background-color: black;
    color: white;
}

.col-number,
.col-time {
    text-align: right;
    color: rgb(230, 230, 95);
}

.col-name {
    text-align: left;
    width: 22%;
}
.col-city,
.col-freq
 {
    text-align: center;
    width: 17%;
}

.col-btn {
    width: 10%;
    text-align: center;
}